@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00FFD1;
    background: url(../img/HomeBackground.png) no-repeat;
}

#contant {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 100px;
    line-height: 169px;
    color: #00FFD1;
}

p {
    max-width: 85vh;
    height: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 50px;
}

@media screen and (max-width: 600px) {
    p {
        font-size: 30px;
    }
}

a {
    color: #00FFD1;
    text-decoration: none;
}

#next {
    position: absolute;
    width: auto;
    right: 20px;
    bottom: 20px;
    padding: 10px 30px;
    background-color: #00FFD1;
    border-radius: 25px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 238, 238);
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: #00ffea 10px 25px 100px 12px;
    animation: shake 1.5s infinite;
}

@keyframes shake {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}