@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00FFD1;
    background: url(../img/HomeBackground.png) no-repeat;
}

h1 {
    height: 84px;
    font-weight: 4px;
    font-size: 60px;
    line-height: 84px;
    color: #00FFD1;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    padding-left: 50px;
    /* border: #00FFD1 solid; */
}

@media screen and (max-width:780px) {
    h1 {
        text-align: center;
        padding-left: 0;
    }
}

#product {
    /* border: #00FFD1 solid; */
    position: relative;
    top: 50px;
    width: 100%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.product {
    /* border: #00FFD1 solid; */
    width: 330px;
    height: 300px;
    padding: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.product h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    color: #00FFD1;
}

.product p {
    margin-top: 10px;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;    
    font-family: 'Roboto', sans-serif;
}

#next {
    position: absolute;
    width: auto;
    right: 20px;
    bottom: 20px;
    padding: 10px 30px;
    background-color: #00FFD1;
    border-radius: 25px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 238, 238);
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: #00ffea 10px 25px 100px 12px;
    animation: shake 1.5s infinite;
    transition: .3s;
}

#next:hover {
    padding: 10px 40px;
}

@keyframes shake {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}